<a href="https://colab.research.google.com/github/anjaleep289/MSC1-paper2-FDS-525/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
studentID={"rj1","rj2","rj3","rj4"}
SName={"aj","pk","mb","ia"}
LName={"pagare","kamble","bhaskar","aadpawar"}
Department={"msc","ms","mca","mba"}
Email={"aspagare@gmail.com","pkamble@gmail.com","mbhaskar@gmail.com","iaadpawar@gmail.com"}

In [ ]:
studata = zip(studentID,SName,LName,Department,Email)

In [ ]:
df = pd.DataFrame(data =studata, columns={'studentID','SName','LName','Department','Email'})
df

  SName studentID     LName Department                Email
0   rj3        aj    kamble         ms    pkamble@gmail.com
1   rj2        pk    pagare        msc  iaadpawar@gmail.com
2   rj4        ia   bhaskar        mca   aspagare@gmail.com
3   rj1        mb  aadpawar        mba   mbhaskar@gmail.com

In [ ]:
df.to_csv('studentdata.csv')
df

  SName studentID     LName Department                Email
0   rj3        aj    kamble         ms    pkamble@gmail.com
1   rj2        pk    pagare        msc  iaadpawar@gmail.com
2   rj4        ia   bhaskar        mca   aspagare@gmail.com
3   rj1        mb  aadpawar        mba   mbhaskar@gmail.com

In [ ]:
df.to_excel('studentdata.xlsx')
df

  SName studentID     LName Department                Email
0   rj3        aj    kamble         ms    pkamble@gmail.com
1   rj2        pk    pagare        msc  iaadpawar@gmail.com
2   rj4        ia   bhaskar        mca   aspagare@gmail.com
3   rj1        mb  aadpawar        mba   mbhaskar@gmail.com

In [ ]:
state=pd.read_csv("D:/a_fds_msc/US_violent_crime.csv")
state.head()